body {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #282830;
	color: #fff;
}

.section-timer {
	width: 100%;
	margin: 0 auto 30px;
	font-family: 'Barlow', sans-serif;
	border: 1px solid #000; //for testing
	box-sizing: border-box;
	
	p {
		font-size: 245px;
		text-align: center;
		margin: 0;
	}
}

.section-form {
	width: 35%;
	padding: 20px;
	font-family: 'Rajdhani', sans-serif;
	border: 1px solid #000; //for testing
	box-sizing: border-box;

	label {
		width: 30%;
		display: inline-block;
		font-size: 38px;
		vertical-align: middle;
	}

	input {
		width: 10%;
		display: inline-block;
		vertical-align: middle;
	}

	textarea {
		width: 70%;
		vertical-align: middle;
	}
}

.section-list {

}